.cover__subtitle {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .cover__subtitle { 
        max-width: 288px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}