.cover{
    background-image: url(../.././/images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
    width: 100%;
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    
}

.cover:hover .cover__overlay{
    opacity: 0.8;
}