@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

.page{
    margin: 0;
    background: #2A2C2F;
    font-family: 'Inter', sans-serif;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.container{
    max-width: 1280px;
    padding: 0 48px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    margin-bottom: 56px;
    
    
}
.header__logo{
    width: 176px;
    height: 52px;
    
     
}
.header__lang-link{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 18px;
    text-decoration: none;
}
.header__lang-link:last-child {
    margin-right: 0;
    }

.lead{
    max-width: 1280px;
    padding: 0 148px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 92px;
    

}
.lead__title{
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom:  32px;
}
.lead__subtitle{
    max-width: 640px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}
.lead__image{
width: 100%;
}

.lead__caption{
    margin: 8px 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}
.intro{
    box-sizing: border-box;
    padding:  0 442px 0 148px ;
  max-width: 1280px;
  min-height: 429px;
  margin: 0 auto;
  margin-bottom: 92px;
}
.intro__title{
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 0 40px;
}
.intro__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    color: #FFFFFF;
    margin:0 0 33px;
}
.intro__list{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
.photo-grid{
   
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 92px;
    
}
.photo-grid__item{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.cover{
    background-image: url(/images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
    width: 100%;
    margin: 0 0 92px;
    position: relative;
     
}
.cover:hover .cover__overlay{
    opacity: 80%;
}



.cover__content{
    position: relative;
    z-index: 1;
}
.cover__overlay{
    position: absolute;
    background: #2A2C2F;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 80%;
   

}


.title{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
}
.cover__title{
    text-align: center;
    margin: 0 0 32px;
    padding-top: 245px;
}

.cover__subtitle{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0;
}



.footer{
display: flex;
justify-content: space-between;
}

.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 18px;
}
.footer__link:last-child {
margin-right: 0;
}

.footer__copyright{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}
